<!DOCTYPE html>
<html lang="en">
<head>
    <title>MomeeCares</title>
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
</head>

<body>

<% include ./partials/navbar %>



    <!-- Example row of columns -->
<%- body -%>



<% include ./partials/footer.ejs %>
<% include ./partials/javascriptOnly %>
</body>
</html>

